<<<<<<< HEAD
<<<<<<< HEAD
=======
body{
   background-color: gray;
	
}



>>>>>>> feature3
.red {
   color: yellow;
=======
.blue{
   color: blue;
>>>>>>> feature2
}
.thick {
   font-size:15px;
}
.pink{
   color:pink;
}